:root {
 --primary-color:#0A0A0A;
 --secondary-color:#121212;
 --tertiary-color:#c71585;
 --tertiary-color:#ff4c4c;
}

input[type="range"]{
	-webkit-appearanc:none;
	width:100%;
	height:4px;
	background:#d1d1d1;
	outline:none;
	opacity:0.9;
	transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:10px;
	height:10px;
	background:black;
	transition: opacity .2s;
	bordr-radius:50%;
}

input[type="range"]::-webkit-slider-runnable-track{
	widt:100%;
	heigh:5px;
	bckground:#3071a9;
	cursor:pointer;
}

::-webkit-scrollbar{
	display:none;
	background-color: silver;
	height:3px;
	width:3px;
}

 --secondary-color:#9B51E0;
 --secondary-color:#8B0000;
 --secondary-color:#ff4c4c;
 --secondary-color:#B03A3A;