:root {
 --primary-color:#0A0A0A;
 --secondary-color:#121212;
 --tertiary-color:#c71585;
 --tertiary-color:#ff4c4c;
}

input[type="range"]{
	-webkit-appearanc:none;
	width:100%;
	height:4px;
	background:#d1d1d1;
	outline:none;
	opacity:0.9;
	transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:100%;
	height:8px;
	background:#444;
	transition: opacity .15s ease-in-out;
	outline:none;
	opacity:1;
	border-radius:5px;
}

input[type="range"]::-webkit-slider-runnable-track{
	widt:100%;
	heigh:8px;
	bckground:#d3d3d3;
	border-radius:5px;
	cursor:pointer;
}

input[type="range"]::-moz-range-track{
	width:100%;
	height:8px;
	background: #d3d3d3;
	border-radius: 5px;
}

input[type=range]::ms-track{

}

::-webkit-scrollbar{
	display:none;
	background-color: silver;
	height:3px;
	width:3px;
}

.hero-poster{
	height:8cm;
	background-size: 100%;
}

@media(min-width:600px) {
	.hero-poster{
	height:8cm;
	background-position:right;
	background-size: 100%;
}
}

 --secondary-color:#9B51E0;
 --secondary-color:#8B0000;
 --secondary-color:#ff4c4c;
 --secondary-color:#B03A3A;